<div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
  <dt class="text-sm/6 font-medium text-gray-900"><%= User.human_attribute_name(attribute)%></dt>
  <%= turbo_frame_tag attribute do %>
      <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0"><%= link_to (user[attribute].presence || 'Mettre à jour'), [:edit, :profile, attribute: attribute] %></dd>
  <% end %>
</div>
