<%= link_to "Retour vers la leçon", lesson_path(@lesson), class: "rounded-lg my-2 py-2 px-4 bg-gray-100 font-medium hover:bg-gray-200" %>

<%= form_with(model: @lesson, url: maintenance_lesson_path(@lesson), method: :patch, class: "space-y-6") do |form| %>
  <%= render "form", form: form %>
  <div>
    <%= form.submit "Update Lesson", class: "inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
  </div>
<%end%>
