<% if notice %>
  <div
    class="sticky top-18 z-10 flex flex-col justify-center animate-fade-out"
    data-controller="remove" data-action="animationend->remove#remove" data-turbo="temporary"
    role="alert"
  >
    <div class="flex items-center py-2 px-3 shadow-md mb-2 border-l-4 bg-green-500 border-green-700">
      <div class="rounded-full bg-white mr-3 text-green-500">
        <svg width="1.8em" height="1.8em" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022" />
        </svg>
      </div>
      <div class="text-white max-w-xs">
        <%= notice %>
      </div>
    </div>
  </div>
<% end %>
