<div class="flex items-center mb-4">
  <input type="checkbox" class="mr-2" <%= 'checked' if user_exercise.completed %>>
  <p class="text-gray-700"><%= user_exercise.exercise.description %></p>
</div>
